<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <staticContent>
            <remove fileExtension=".html" />
            <remove fileExtension=".htm" />
            <remove fileExtension=".php" />
            <mimeMap fileExtension=".html" mimeType="text/html; charset=UTF-8" />
            <mimeMap fileExtension=".htm" mimeType="text/html; charset=UTF-8" />
            <mimeMap fileExtension=".php" mimeType="text/html; charset=UTF-8" />
        </staticContent>
        <httpProtocol>
            <customHeaders>
                <add name="Content-Type" value="text/html; charset=UTF-8" />
            </customHeaders>
        </httpProtocol>
    </system.webServer>
</configuration>